apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-board-app
spec:
  replicas: 3
  template:
    spec:
      containers:
      - name: blog-board
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
